* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: linear-gradient(101deg, #7C5CFA 0%, #3B1DBF 100%);
    color: #f0f6fc;
    line-height: 2.0;
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #0e090e;
}

h2 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #FFFFFF;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #FFFFFF;
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 15px;
}
li {
    margin-bottom: 8px;
    color: #FFFFFF;
}
pre {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    margin-bottom: 15px;
}
code {
    font-family: 'Courier New', Courier, monospace;
    background: #eaeaea;
    padding: 2px 4px;
    border-radius: 3px;
}

/* Barra de navegação */
nav {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
nav ul li a:hover {
  background-color: #ffffff;
  color: #4a3aff;
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
}
/* Links do menu */
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  display: block;
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Fica na vertical */
    gap: 10px;
    align-items: center; /* Centraliza tudo */
  }

  nav ul li a {
    width: auto; /* Deixa o botão só do tamanho do texto */
    padding: 10px 20px; /* Mantém o espaçamento interno bonito */
    text-align: center;
  }
}
